@import 'node_modules/slick-carousel/slick/slick.scss';

@import '../base/reset';

@import '../helpers/mixins';
@import '../helpers/variables';

@import '../base/typography';

@import '../components/buttons';
@import '../components/slider';
@import '../components/nav-trigger';
@import '../components/main-menu';

@import '../layouts/header';
html {
  height: 100%;
}
body {
  height: 1px;
  min-height: 100%;
  & > .overlay {
    position: absolute;
    padding-top: 100px;
    width: 100%;
  }
}
