@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
  @include  font-styles($font-family: 'Ubuntu, sans-serif', $color: $dark-text-color);
  & > header {
    a {
      color: $link-color;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }

    .logo {
      span {
        @include  font-styles($font-family: 'PT Mono, monospace', $size: $logo-size);
        &.dark {
          @include  font-styles($color: $brand-dark-color, $weight: bold);
        }
        &.light {
          color: $brand-light-color;
        }
      }
    }
  }
}
p, span {
  font-size: 24px;
}

section > h1 {
  @include  font-styles($color: $brand-dark-color, $weight: 200, $size: 28px);
  text-transform: uppercase;
}
