@import '../helpers/variables';

.btn {
  display: inline-block;
  &.rounded {
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 100px;
    background: transparent;
    color: white;
    &:hover {
      background: $btn-primary-active-bg;
      text-decoration: none;
    }
  }

}
