.main-menu {
  a {
    &:not(:last-child) {
      margin-right: 40px;
      @include respond-to($tablet-landscape) {
        margin-right: 20px;
      }
    }
  }
}
.nav-trigger {
  display: none;
  z-index: 3;
}
@include respond-to($tablet-portrait) {
  .nav-trigger {
    display: block;
  }
  .main-menu {
    display: none;
  }
}

.overlay {
  .main-nav {
    position: relative;
    height: 100%;
    width: 0;
    overflow: hidden;
    z-index: 4;
    background: $brand-light-color;
    transition: all ease-in .8s;
    &.expend {
      width: 100%;
    }
    a {
      display: block;
      padding: 20px 0;
      text-align: center;
      color: $brand-dark-color;
      white-space: nowrap;
      &.btn.primary {
        color: $brand-light-color;
      }
    }
  }
}
